<!-- Articles List -->
<div class="container-fluid py-3 bg-light rounded-lg">
    {{#each posts}}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-3 text-center">
                    <a href="./post/{{id}}">
                        <img src="/public/posts/imgs/{{id}}/thumbnail.jpg" alt="{{title}}" class="img-fluid rounded-left" style="height: 100%; object-fit: cover;" />
                    </a>
                </div>
                <div class="col p-2">
                    <div class="card-body">
                        <a href="/main/post/{{this.id}}" class="text-decoration-none text-dark">
                            <h2 class="card-title">{{title}}</h2>
                        </a>
                        <a href="/main/post/{{this.id}}" class="text-decoration-none text-dark">
                            <p class="card-text truncate-2-line">
                                {{this.abstract}}
                            </p>
                            <p class="card-text mb-auto">
                                <small class="text-muted">Ngày đăng: {{publish_date}}</small>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>