<main class="container-fluid m-4">
    <!-- Hiển thị bài viết theo danh mục -->
    <div id="main-news">
        <div>
            <h4 class="mb-3 text-primary">Bài viết thuộc danh mục</h4>
            {{#if posts.length}}
                <div class="row">
                    {{#each posts}}
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <a href="{{#if ../user}}/main/post/{{this.id}}{{else}}/home/post/{{this.id}}{{/if}}">
                                    <img src="/public/posts/imgs/{{this.id}}/thumbnail.jpg" class="card-img-top" alt="{{this.title}}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{#if ../user}}/main/post/{{this.id}}{{else}}/home/post/{{this.id}}{{/if}}" class="text-decoration-none text-dark">
                                            {{this.title}}
                                        </a>
                                    </h5>
                                    <p class="card-text truncate-multi-line">{{this.abstract}}</p>
                                    <p class="card-text"><small class="text-muted">Ngày đăng: {{this.publish_date}}</small></p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <p class="text-muted">Không có bài viết nào trong tag này.</p>
            {{/if}}
        </div>
    </div>
</main>
